<!--
* Author: Gary Fleming
* Student No: 20019497
* Date: Jan 7th 2018
-->

<section class="ui inverted teal segment">
    <section class="ui yellow raised segment">
    <div class="ui grid">
        <aside class="six wide column">
            <section class="ui center aligned segment">

                <!--https://semantic-ui.com/modules/accordion.html#/examples-->
                <div class="ui accordion">
                    <div class="title">
                        <img src="images/global.png" class="ui medium centered image">
                        <h2><i class="small blue users icon"></i> My Friendship's Status <i class="small blue users icon"></i></h2>
                        <i class="dropdown icon"></i>
                    </div>

                    <div class="content">
                        {{#each users}}
                        <tr>
                            <td>
                                <div class="column">
                                    {{#if isFollowed}}  <!--if user is followed-->

                                            <h3>
                                                {{#if picture.data}}
                                                    <div class="ui avatar image">
                                                        <img class="ui big image" src="/getuserpicture/{{id}}">
                                                    </div>
                                                        {{firstName}} {{lastName}}&emsp;
                                                    <a href="/unfollow/{{id}}">
                                                        <button class="ui red mini basic button" title="Click to unfollow">
                                                            <i class="red twitter icon"></i>UnFollow
                                                        </button>
                                                    </a>
                                                {{else}}

                                                    <div class="ui avatar image">
                                                        <img class="ui big image" src="/images/noimage.jpg">
                                                    </div>
                                                        {{firstName}} {{lastName}}&emsp;
                                                    <a href="/unfollow/{{id}}">
                                                        <button class="ui red mini basic button" title="Click to unfollow">
                                                            <i class="red twitter icon"></i>UnFollow
                                                        </button>
                                                    </a>
                                                {{/if}}
                                            </h3>
                                    {{/if}}
                                </div>
                            </td>
                        {{/each}}
                    </div>
                </div>
            </section>
        </aside>

    <article class="ten wide column">
    <table class="ui selectable table raised segment">
        <h2 class="ui center aligned header segment"> Global Timeline Tweets </h2>

    <tbody>
        {{#if tweets}}
            {{#each tweets}}
            <tr>
                <td>
                    <!-- https://semantic-ui.com/views/comment.html -->
                    <div class="ui comments">
                        <div class="comment">

                            <!-- https://semantic-ui.com/elements/image.html -->
                            {{#if tweeter.picture.data}}
                                <div class="ui massive avatar image">
                                    <img class="ui image" src="/getuserpicture/{{tweeter.id}}">
                                </div>
                            {{^}}
                                <div class="avatar">
                                    <img class="ui rounded image" src="images/noimage.jpg">
                                </div>
                            {{/if}}

                            <div class="content">
                                <div class="text">
                                    <pre>       {{text}}</pre>
                                </div>

                                <!-- Tweet image // https://jsfiddle.net/mikael_roos/7bMmE/ -->
                                <div class="over">
                                    {{#if picture.data}}
                                        <div class="image">
                                            <img class='lightbox' src="/getpicture/{{id}}" title="Click to View Full Screen"/>
                                        </div>
                                    {{/if}}
                                </div>
                                <br>

                                <div class="metadata">
                                    &emsp;&emsp;Tweeted by: {{tweeter.firstName}} {{tweeter.lastName}}<br>
                                    <div class="date">&emsp;&emsp;<i class="grey at icon"></i>{{date}}</div>&emsp;
                                    <i class="grey mail outline icon"></i>{{tweeter.email}}<br>&emsp;&emsp;
                                </div>
                            </div>

                        </div>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
        </table>
        </article>
        </div>

        {{else}}
            <aside class="ten wide column">
                <section class="ui center aligned raised segment">
                    <h2 class="ui red header">No one is Tweeting???? <br> Goodbye World! </h2>
                </section>
            </aside>
        {{/if}}

    </section>
</section>


<script src="js/tada.js"></script>
<script src="js/image-pulse.js"></script>
<script src="js/accordion.js"></script>
<script src="js/friendship-pulse.js"></script>
<script src="js/image-popup.js"></script>
