<!--
* Author: Gary Fleming
* Student No: 20019497
* Date: Jan 7th 2018
-->

<section class="ui inverted teal segment">
    <section class="ui yellow raised segment">
        <div class="ui grid">

            <aside class="six wide column">
                <div class="ui card">
                    {{#if user.picture.data}}
                        <div class="image">
                            &nbsp;
                            <h3 class="ui center aligned header">Your Profile {{user.firstName}}</h3>
                            <img src="/getuserpicture/{{user.id}}"/>
                        </div>
                    {{else}}
                        <img class="ui medium centered image" src="images/noimage.jpg"/>
                    {{/if}}
                    <div class="extra content">
                        <i class="blue mail icon"></i>&nbsp;{{user.email}}<br>
                        <i class="blue twitter icon"></i>{{userStats.posts}} post(s)<br>
                        <i class="blue users icon"></i>{{user.followers.length}} follower(s)<br>
                        <i class="blue users icon"></i>{{user.following.length}} following
                    </div>
                </div>
            </aside>

            {{#if tweets}}
                <article class="ten wide column">
                    <form class="ui form" action="/userremovetweet" method="POST">
                        <table class="ui selectable striped table raised segment">
                            <thead>
                            <tr>
                                <th>Select</th>
                                <th></th>
                                <th>All Your Timeline Tweets</th>
                            </tr>
                            </thead>

                            <tbody class="ui segment">
                            {{#each tweets}}
                                <tr>
                                    <td>
                                        <!-- https://semantic-ui.com/modules/checkbox.html -->
                                        <div class="ui checkbox">
                                            <input type="checkbox" name="{{id}}">
                                            <label></label>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td>
                                        <!-- https://semantic-ui.com/views/comment.html -->
                                        <div class="ui comments">
                                            <div class="comment">
                                                <div class="content">
                                                    <div class="text">{{text}}</div>
                                                    <div class="over">
                                                        {{#if picture.data}}
                                                            <div class="image">
                                                                <img src="/getpicture/{{_id}}">
                                                            </div>
                                                        {{/if}}
                                                    </div>
                                                    <br>
                                                    <div class="metadata">
                                                        <div class="date"><i class="at icon"></i>{{date}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>

                            <tfoot>
                            <tr>
                                <th colspan="4">
                                    <!-- https://semantic-ui.com/elements/button.html -->
                                    <div class="ui tiny buttons">
                                        <button class="ui positive button" id="remove_tweet"><i class="trash icon"></i>Selected
                                        </button>
                                        <div class="or"></div>
                                        <button class="ui negative button" id="remove_all" formaction="/userremovealltweets">
                                            All Tweets&emsp;<i class="trash icon"></i>
                                        </button>
                                    </div>
                                </th>
                            </tr>
                            </tfoot>

                        </table>
                    </form>
                </article>
            {{else}}
                <aside class="ten wide column">
                    <section class="ui center aligned segment">
                        <h2 class="ui red header">No Tweets??? Why not tweet something!!</h2>
                        <img src="images/thumbsup.png" class="ui tiny centered image">
                    </section>
                </aside>
            {{/if}}
        </div>
    </section>
</section>
