{{> mainmenu _id="usersearch" }}

<section class="ui inverted teal segment">
    <section class="ui yellow raised segment">
        <h2 class="ui center aligned header segment"> All Twitter Users Accounts </h2>

        <div class="ui yellow cards">
            {{#each users}}
                <div class="card">
                    <div class="content">
                         {{#if picture.data}}
                            <div class="ui massive avatar image">
                                <img class="ui image" src="/getuserpicture/{{id}}">
                           </div>
                        {{else}}
                            <div class="avatar">
                                <img class="ui rounded image" src="/images/noimage.jpg">
                            </div>
                        {{/if}}
                        <div class="meta">
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="users icon"></i>{{followers.length}} Follower(s)<br/>
                            {{firstName}} {{lastName}}<br>
                            {{email}}<br>
                        </div>
                    </div>

                    <div class="extra content">
                        <form action="/viewotheruser/{{id}}" method="GET">
                            <div class="ui tiny buttons">
                                <button class="ui animated fade red submit right floated button">
                                    <div class="visible content">{{firstName}}'s Timeline</div>
                                    <div class="hidden content">Lets go!!</div>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            {{/each}}
        </div>
    </section>
</section>

<script src="js/card-pulse.js"></script>
