<!--
* Author: Gary Fleming
* Student No: 20019497
* Start Date: Oct 10th 2017
-->

{{> mainmenu _id="settings" }}

<section class="ui inverted teal segment">
    <section class="ui yellow raised segment">
        <div class="ui grid">
            <aside class="ui six wide column">
                <section class="ui segment">
                    <h2 class="ui red center aligned header">Update Your Profile Pic!!</h2>

                    <div class="ui raised fluid form center aligned segment">
                        {{#if user.picture.data}}
                            <div class="image">
                                <img src="/getuserpicture/{{user.id}}"/>
                            </div>
                        {{else}}
                            <img class="ui medium centered image" src="images/noimage.jpg">
                        {{/if}}
                    </div>

                    <div class="content">
                        <form method="post" enctype="multipart/form-data" action="/profilepicture">
                            <input type="file" name="picture" ><br><br>
                            <div class="ui tiny buttons">
                                <button class="ui animated fade blue submit button">
                                    <div class="visible content"><i class="upload icon"></i>Update Profile Picture</div>
                                    <div class="hidden content">Click to Save</div>
                                </button>
                            </div>
                        </form>
                        {{> formerror }}
                    </div>
                </section>
            </aside>

            <div class="ui ten wide column">
                <div class="ui raised fluid form segment">
                    <form action="/settings" method="POST">
                        <h2 class="ui red center aligned header">Update Your Setting Now!!</h2>

                        <div class="two fields">
                            <div class="field">
                                <label>First Name</label>
                                <div class="ui icon input">
                                    <input placeholder="{{user.firstName}}" type="text" name="firstName">
                                    <i class="user icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <label>Last Name</label>
                                <div class="ui icon input">
                                    <input placeholder="{{user.lastName}}" type="text" name="lastName">
                                    <i class="user icon"></i>
                                </div>
                            </div>
                        </div>

                        <div class="two fields">
                            <div class="field">
                                <label>Email</label>
                                <div class="ui icon input">
                                    <input placeholder="{{user.email}}" type="email" name="email">
                                    <i class="mail icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <label>Password</label>
                                <div class="ui icon input">
                                    <input type="password" name="password">
                                    <i class="lock icon"></i>
                                </div>
                            </div>
                        </div>

                        <div class="ui tiny buttons">
                            <button class="ui animated fade blue submit button">
                                <div class="visible content"><i class="upload icon"></i>Update</div>
                                <div class="hidden content">Click to Save</div>
                            </button>
                        </div>
                    </form>

                    {{> formerror }}
                </div>
            </div>
        </div>
        </div>
    </section>
</section>

<script src="js/jiggle.js"></script>